@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style-type: none;
}


.container {
    width: 90%;
    margin: 0 auto 20px;
    /* background-color: red; */
}

/*======================header===================================
================================================================*/
header {
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    /* background-color: rgb(24, 24, 24); */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin: 0 auto;
    /* background-color: yellowgreen; */
}

.logo {
    /* background-color: #fce61c; */
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logo h1 {
    color: #3a6cf4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1em;

}

.header img {
    border-radius: 100%;
    width: 70px;
}

.navigation {
    padding-left: 60px;
}

.navigation a {
    color: #3a6cf4;
    font-size: 1.1em;
    font-weight: 500;
    padding: 10px;
    /* background-color: #fce61c; */
}

.navigation a:hover {
    color: #601cfc;
}

/*======================header==>@media=================================
================================================================*/

@media (max-width:1023px) {
    .header {
        flex-direction: column;
    }

    .logo {
        margin-bottom: 20px;
    }

    .navigation {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        gap: 20px;
    }
}


/*========================================================================================= 
             section-1==>presentation
===================================================================================================*/

main {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.section-1 {
    width: 100%;
    /* min-height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgb(24, 24, 24);
    margin: 120px 0 0 0;
    padding: 20px 10px;

}

.section-1 h2 {
    width: 90%;
    margin: 0 auto;
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
    text-align: left;
}


.section-1 h2 strong {
    color: #4e9eff;
    font-size: 2em;
    font-weight: 600;

}

.section-1 p {
    width: 90%;
    margin: 0 auto;
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 1.4px;
}

.cafe {
    font-size: 42px;
}

/*========================================================================================= 
             section-1(identité)==>@media
===================================================================================================*/

@media (max-width:1000px) {

    .section-1 {
        margin: 200px 0 0 0;
    }
}

@media (max-width:560px) {
    .section-1 {
        margin: 230px 0 0 0;
        width: 100%;
    }

    .section-1 h2 strong {
        font-size: 1.5em;
        font-weight: 700;
    }

    .cafe {
        font-size: 32px;
    }

}


/*========================================================================================= 
             section-2==>Services
===================================================================================================*/
.section-2 .title h2 {
    color: #4e9eff;
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    line-height: 1.5;
    padding: 20px 10px;

}

.section-2 .title h2 strong {
    font-size: 0.75em;
    font-weight: 400;
    display: block;
    color: rgb(33, 30, 30);

}

.section-2 {
    padding-bottom: 30px;
    margin: 20px auto;
}

.sous-section {
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;

}

.card-comp h3 {
    margin: 15px 20px 15px 0;
    font-size: 1.4rem;
}

.card-comp {
    padding: 10px;
    margin: 0 10px;
}

.card-comp li {
    margin: 10px 20px 10px 0;
    font-size: 1.2rem;
    list-style-type: disc;
}

/* .222222222222222222222222222222media media=======================================================================================
                   section2/@media 
=============================================================================================== */
@media (max-width:800px) {

    .section-2 {
        margin: 0 auto;
    }

    .sous-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

    }

    .card-comp {
        width: 25em;
        min-width: 19em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        border: 1px solid gray;
        background-color: #fff;
        box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
        border-radius: 7px;
        margin: 10px 0;
        padding: 20px;
        transition: 0.7s ease;
    }

    .card-comp:hover {
        transform: scale(1.1);
    }

    .card-comp li {
        margin: 20px;
    }
}

/*========================================================================================= 
             section-3==>Projets
===================================================================================================*/